.speech {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.stageDirection {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: lightskyblue;
}
.stageDirection:hover {
    background-color: lightslategrey;
    color: darkblue;
}
.name {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}
.duchessBerwick{
color: rgb(78, 216, 78);
}
.ladyAgatha{
color:red;
}
.parker{
color:darksalmon;
}
.dumby{
color:fuchsia;
}
.ladyStufield{
color:royalblue;
}
.cowper{
color:rgb(116, 213, 243);
}
.hopper{
color:orange;
}
.lordWindermere{
    color:mediumaquamarine
}
.lordAugustus{
color: navy;
}
table {
    border: solid 2px darkslateblue ;
    width: 45%;
    padding: auto;
    /* border-collapse: collapse; */
    margin: 4px;
}

th, td {
    border: solid 1px;
    text-align: center;
    padding: 10px;
    /* background-color: linen; */
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

.name:hover {
    text-shadow: 2px 3px 4px grey;
    border: solid 2px dodgerblue;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: khaki;
}
ul.navbar-horizontal li {
    float:left;
    background-color: lightseagreen;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: floralwhite;
}
ul.navbar-horizontal a:hover {
    background-color: rgb(179, 104, 185);
    color:brown;
}